
:markdown
   This page is dedicated to Pam Headley, Janet Summit and Crystal Lemon.

   These three moms went above and beyond for Star Academy.  Janet and Pam’s
   irreplaceable vision is what started everything moving in the first place.
   Together they made the concept a reality and founded Star Academy.  Since
   that fateful day they have both put mountains of hours of work into
   preserving Star Academy for us.  Both Pam and Janet taught upwards of three
   classes every semester, slaved over the schedule almost all year round and
   took care of the daily problems that came up at Star.  Shortly after the
   first Semester, they asked Crystal to help them organize a few things.  She
   quickly became their administrative and financial assistant.  She balanced
   Star’s budget, prepared computer documents and collected rent and other
   fees.  Without these three moms sacrificing their time, Star Academy would
   not be around today.  
