.page
  .famliyheading
    %h1 Ferney
    %h4.headinginfo famliy
  /
    i would have something like yeald here.
    and it would look something like this
  .about
    %h4 cool story
    %p i though it could be cool to have a place for something like a story. it could also have a pic to go with it
  .prson
    %img/
    %b sean r. ferney
    %br/
    %i is just the best
  .prson
    %img/
    %b keith m. ferney
    %br/
    %i thinks hes really cool
  .about
    %h4 about the ferneys
    %p the ferneys are an really cool famliy even though they are a bit odd... some text about the ferneys... something cool about them
  .prson
    %img/
    %b kyle x. ferney
    %br/
    %i can do math
  .prson
    %img/
    %b eathan r. ferney
    %br/
    %i has hair
  .about
    %h4 famliy picture
    %i there would be a large picture here
  .prson
    %img/
    %b jacob p. ferney
    %br/
    %i likes to be self
  .prson
    %img/
    %b austin p. ferney
    %br/
    %i has blue eyes
  .prson
    %img/
    %b miriam r. ferney
    %br/
    %i is cute
