<div class="page">
<div class="famliyheading">
  <h1>Ferney</h1>
  <h4 class="headinginfo">famliy</h4>
</div>

<!--i would have something like yeald here.
and it would look something like this-->

<div class="about">
  <h4>cool story</h4>
  <p>i though it could be cool to have a place for something like a story. it could also have a pic to go with it</p>
</div>

<div class="prson">
  <img></img>
  <b>sean r. ferney</b>
  <br>
  <i>is just the best</i>
</div>

<div class="prson">
  <img></img>
  <b>keith m. ferney</b>
  <br>
  <i>thinks hes really cool</i>  
</div>

<div class="about">
  <h4>about the ferneys</h4>
  <p>the ferneys are an really cool famliy even though they are a bit odd... some text about the ferneys... something cool about them</p>
</div>

<div class="prson">
  <img></img>
  <b>kyle x. ferney</b>
  <br>
  <i>can do math</i>
</div>

<div class="prson">
  <img></img>
  <b>eathan r. ferney</b>
  <br>
  <i>has hair</i>
</div>

<div class="about">
  <h4>famliy picture</h4>
  <i>there would be a large picture here</i>
</div>

<div class="prson">
  <img></img>
  <b>jacob p. ferney</b>
  <br>
  <i>likes to be self</i>
</div>

<div class="prson">
  <img></img>
  <b>austin p. ferney</b>
  <br>
  <i>has blue eyes</i>
</div>

<div class="prson">
  <img></img>
  <b>miriam r. ferney</b>
  <br>
  <i>is cute</i>
</div>



</div>
