- if can? :manage, Person
  .pull-right
    = link_to 'New Person', new_person_path

%h1 People

%table
  %tr
    %th Name
    %th Family
    %th
    %th
    %th

  - @people.each do |person|
    %tr
      %td= link_me person
      %td= link_me person.family
