- if can? :manage, Article
  .pull-right
    = link_to 'New Article', new_article_path
%h1 Articles

- @articles.each do |article|
  %h2= link_to article.title, article
  :markdown
    #{article.body}
  %p.pull-right by: #{article.authors.join(', ')}
