.family
  %h1
    = link_to family.name, family

  - family.people.each do |person|
    .person
      - if person.portrait.blank?
        %img{src: person.img}
      - else
        = image_tag person.portrait :thumb
      .name= link_me person
      .days
        (
        - person.days.each do |day|
          = link_me day
        )
