.pull-right
  = link_to 'New Title Page', new_title_path
%h1.center Shooting Star
%h2.center Cache Valley Academy Yearbook
%h3.center 2014

%br
%h3.center Contents
%ul.center-block.titles
  - @titles.each do |title| 
    %li
      = link_to title.title, title
 
