// Place all the styles related to the draft controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page {
  float:left;
  width:75%;
  margin-left:12%;
  
  
  }


.famliyheading {
  background-color:#B5B5B5;
  text-align:center;
  width:100%;
  margin:5px;
  padding:5px;  
  }

.headinginfo {
  margin-left:20%;
  
  }

.about {
  width:22%;
  height:200px;
  margin:1%;
  padding:1%;
  float:left;
  background-color:#B5B5B5;
  
  
  }

.prson {
  background-color:#B5B5B5;
  text-align:bottom;
  width:12%;
  height:200px;
  margin:1%;
  padding:1%;
  float:left;
  }




