.pull-right
  = link_to 'New Image', new_image_path
  = will_paginate @posts

%h1 Images

//- if @un_captioned and not @un_captioned.empty?
//  .pull-right.col-sm-6
//    #h2 UnCaptioned
//    = render partial: 'images', object: @un_captioned

#h2 Captioned
= render partial: 'images', object: @images
.pull-right
  = will_paginate @posts


