
- if @un_captioned and not @un_captioned.empty?
  .pull-right
    #h2 UnCaptioned
    = render partial: 'images', object: @un_captioned

%h1 Images

= render partial: 'images', object: @images



%br

= link_to 'New Image', new_image_path
